/*
Theme Name: DevDmBootstrap3
Theme URI: http://devdm.com/DevDmBootstrap3
Author: Danny Machal
Author URI: http://devdm.com/
Description: A versatile and responsive Bootstrap WordPress starter theme FOR DEVELOPERS based on Twitter Bootstrap 3.3.6.
Version: 1.80
License: GNU General Public License v3
License URI: http://www.gnu.org/licenses/gpl.html
Tags: one-column, two-columns, right-sidebar, fluid-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, rtl-language-support, theme-options, translation-ready
Text Domain: devdmbootstrap3

devdmbootstrap3 WordPress Theme, Copyright 2016 Danny Machal.
devdmbootstrap3 is distributed under the terms of the GNU GPL v3.
*/

/* The bootstrap.css file is auto-enqueued in functions.php */

/* YOU SHOULD BE MAKING A CHILD THEME. Don't let me be a bad guy and erase all your hard work with a theme update. I just want to bring you new amazing features. I don't want to destroy your world. I've made a child theme available for you to use. Download it here http://devdm.com/DevDmBootstrap3/child-themes/ */

/****************** Special Blank CSS classes for child themes to use without disturbing core bootstrap styles ****************/
@import url('https://fonts.googleapis.com/css?family=Biryani:200,300,400,600,700,800,900');
.dmbs-container {

}

.dmbs-header {

}

.dmbs-header-img {

}

.dmbs-header-text {

}

.dmbs-top-menu {

}

.dmbs-content {

}

.dmbs-main {

}

.dmbs-left {

}

.dmbs-right {

}

.dmbs-footer-menu {

}

.dmbs-author-credits {

}

.dmbs-footer {

}
/* --------------------------------------------
    TYPOGRAPHY
-------------------------------------------- */
h1 {
    font-size: 42px;
    line-height: 48px;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}
h2 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}
h3 {
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}
h4 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}
h5 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}
h6 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}
p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}
a {
    color: inherit;
    font-size: 18px;
    line-height: 20px;
    font-weight: inherit;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,p a {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}
strong {
    font-weight: 700;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
em {
    font-style: italic;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
ul, ol {
    margin: 0 0 20px 0;
    padding: 0 0 0 20px;
}
ul > li {
    list-style: disc;
}
ol > li {
    list-style: decimal;
}
ul li, ol li {
    font-size: inherit;
    line-height: inherit;
    font-weight: 400;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    outline-offset: 0px;
    outline: transparent;
}
img, input {
    border: 0 none;
    outline: 0 none;
}
input {
    display: block;
    font-size: 18px;
    width: 100%;
    border: 1px solid #000;
    padding: 0 10px;
    margin-bottom: 20px;
}
p > img {
    float: left;
    margin: 0 15px 5px 0;
    height: auto;
    width: auto;
    max-width: 100%;
}
hr {
    height: 1px;
    background: #eeeeee;
    margin: 0 0 20px 0;
    border: 0 none;
}
iframe {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    width: 100%;
}
table tr td {
    font-size: inherit;
    line-height: inherit;
    font-weight: normal;
    padding: 5px 10px 5px 0px;
    vertical-align: middle;
}
table tr th {
    font-size: inherit;
    line-height: inherit;
    font-weight: bold;
    padding: 5px 10px 5px 0px;
    vertical-align: middle;
}
/* --------------------------------------------
    Form
-------------------------------------------- */
form {
    width: 100%;
    display: block;
    height: auto;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
label {
    display: block;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
form input {
    display: block;
    width: 100%;
    height: auto;
    font-size: 18px;
    margin: 0 0 0 0;
    padding: 10px 15px 10px 15px;
    border: 1px solid #acacac;
    background: 0 none;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
form textarea {
    display: block;
    width: 100%;
    min-height: 150px;
    margin: 0 0 20px 0;
    padding: 15px 15px 15px 15px;
    resize: none;
    font-size: 14px;
    background: 0 none;
    border: 1px solid #acacac;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
form input[type="submit"] {
    width: auto;
    height: auto;
    margin: 0 0 20px 0;
    padding: 10px 20px 10px 20px;
    border: 1px solid #acacac;
    background: 0 none;
    float: right;
    line-height: normal;
}
form input:hover, form input:focus, form textarea:hover, form textarea:focus {
    border: 1px solid #f2f2f2;
}
form input[type="submit"]:hover {
    border: 1px solid #acacac;
}
::-webkit-input-placeholder {
    color: #999;
}
:-moz-placeholder {
    color: #999;
    opacity: 1;
}
::-moz-placeholder {
    color: #999;
    opacity: 1;
}
:ms-input-placeholder {
    color: #999;
}
html {
    height: 100%;
}
body {
    color: #3c3c3b;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    background: #ffffff;
}
@media print {
    body {width:1200px;}
}
body#footerbottom {
    height: 100%;
    min-height: 100%;
}
body#footerbottom #wrapper-page {
    min-height: 100%;
    height: 100%;
    height: auto !important;
    margin: 0 auto -100px;
    border-bottom: 100px solid transparent;
}
body#footerbottom #footer {
    display: block;
    clear: both;
    height: 100px;
}
body #wrapper-page .container .my-btn,
body #footer .container .my-btn{
    font-size: 22px;
    border: 1px solid;
    padding: 0 40px;
    line-height: 48px;
    display: inline-block;
}
body #wrapper-page .container .my-btn-dark,
body #footer .container .my-btn-dark{
    background-color: #3c3c3b;
    border-color: #3c3c3b;
    color: #fff;
}
body #wrapper-page .container .my-btn-yellow-dark,
body #footer .container .my-btn-yellow-dark{
    background-color: #3c3c3b;
    border-color: #3c3c3b;
    color: #d3d800;
}
/* --------------------------------------------
    Bug
-------------------------------------------- */
/*  -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    pointer-events: none;*/
/*html.fancybox-lock, html.fancybox-lock body{ overflow: visible !important; }*/

.fancybox-margin { margin-right: 17px !important; }
#loadingg {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 9999999;
}
#loadingg img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 15px;
    padding-right: 15px;
}
#wrapper-page {
    position: relative;
    overflow: hidden;
}
/* --------------------------------------------
    Header
-------------------------------------------- */
#header {
    box-shadow: 0px -60px 90px #000;
    clear: both;
    display: block;
    position: relative;
    padding: 10px 0 0;
    z-index: 2;
}
#header a.logo {
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
#header a.logo img {
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
#header .navbar {
    margin: 0 0 0 0;
    border: 0;
}
.navbar-brand {
    height: auto;
    padding: 12px 15px 11px;
}
#header .nav {
    display: inline-block;
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    z-index: 999;
    font-size: 0;
    float: none;
}
#header .nav > li {
    display: inline-block;
    margin: 0 15px;
    padding: 0 0 0 0;
    list-style: none;
    background: none;
}
#header .nav > li > a {
    display: block;
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 0 0;
    padding: 25px 0;
    text-transform: uppercase;
    position: relative;
}
#header .nav:not(.socials) > li > a::after{
    background-color: #3c3c3b;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    height: 0px;
    width: 100%;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#header .nav:not(.socials) > li > a.active, 
#header .nav:not(.socials) > li > a:hover {
    background-color: transparent;
    color: inherit;
    font-weight: 700;
}
#header .nav > li > a.active::after, 
#header .nav > li > a:hover::after {
    height: 4px;
}
#header .navbar-toggle{
    border-color: #3c3c3b;
}
#header .navbar-toggle .icon-bar{
    background-color: #3c3c3b;
}
#header .nav.socials > li > a.my-btn{
    margin: 10px 0 0;
    background-color: #3c3c3b;
    color: #fff;
}
#header .nav.socials > li:last-child{
    margin-right: 0;
}
/* --------------------------------------------
    Banner
-------------------------------------------- */
#banner {
    position: relative;
    height: 350px;
}
#banner.home {
    height: 750px;
}
/*#banner #supersized {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
#banner #supersized li {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}*/
/* --------------------------------------------
    Content
-------------------------------------------- */
#content {
    position: relative;
}
/* --------------------------------------------
    Footer
-------------------------------------------- */
#footer {
    background-color: #3c3c3b;
    color: #d3d800;
    position: relative;
}
#footer .navf {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
#footer .navf > li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    background: none;
}
#footer .navf > li > a {
    padding: 0;
    margin: 0 10px;
    line-height: 32px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#footer .navf > li > a:hover, #footer .navf > li > a.active {
    color: #f2f2f2;
}
#footer .socials{
    text-align: right;
}
#footer .socials ul{
    margin: 0;
    padding: 0;
    display: block;
    font-size: 0;
}
#footer .socials ul > li {
    display: inline-block;
    margin: 0 5px;
    overflow: hidden;
    border-radius: 30px;
}
#footer .socials ul > li:last-child {
    margin-right: 0;
}
#footer .socials ul > li > a {
    display: block;
    margin: 0;
    padding: 0;
    color: #3c3c3b;
    background-color: #d3d800;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}
#footer .slogan{
    text-transform: uppercase;
    margin: 0;
}
.yellow_bg{
    background-color: #d3d800;    
}
.gray_bg{
    background-color: #fafafa;    
}
.number,
#calendar .day {
    display: inline-block;
    font-size: 128px;
    font-weight: 900;
    line-height: 150px;
    margin-top: -30px;
    position: relative;
}
#calendar .day,
#calendar .date {
    display: inline-block;
    margin-bottom: 0;
}
#calendar .date {
    margin-left: 15px;
    vertical-align: top;
}
.number::before,
.number::after{
    content: '';
    position: absolute;
    height: 6px;
    left: 0;
    bottom: 0;
}
.number::before{
    background-color: rgba(173, 177, 11, 1);
    width: 100%;
    z-index: 1;
}
.number::after{
    background-color: rgba(60, 60, 59, 1);
    width: 50%;
    z-index: 2;
}
#banner .carousel-indicators {
    right: 0;
    width: auto;
    text-align: right;
    margin: 0;
    bottom: 30px;
}
#banner .carousel-indicators > li{
    background-color: rgba(60, 60, 59, 1);
    border: 1px solid rgba(60, 60, 59, 1);
    border-radius: 0;
    height: 24px;
    margin: 0 10px 0 0;
    width: 24px;
}
#banner .carousel-indicators li.active {
    background-color: transparent;
}
ul.leistungen {
    padding: 0;
    display: block;
    font-size: 0;
    margin: 0;
}
ul.leistungen > li {
    display: inline-block;
    margin: 0 20px;
    width: 150px;
}
ul.leistungen > li > img {
    display: inline-block;
    margin-bottom: 20px;
}
.statick-background {
    background-attachment: fixed !important;
    color: #fff;
    position: relative;
}
.statick-background hr{
    background-color: #fff;
}
.super-title {
    font-size: 94px;
    text-transform: uppercase;
    line-height: 104px;
    display: block;
    margin-left: -7px;
}
.super-title > span {
    display: block;
    font-size: 80px;
    line-height: 90px;
    margin-top: -27px;
    padding-left: 2px;
}
.statick-background .container .prelative::before {
    position: absolute;
    content: "";
    width: 120%;
    height: 100%;
    left: -10%;
    top: 0;
    background: rgba(60, 60, 59, 0.5);
}
#calendar .arrows {
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -83px;
    font-size: 0;
    z-index: 2;
}
#calendar .arrows > a {
    height: 35px;
    margin-bottom: 0;
    width: 35px;
    display: inline-block;
    border: 1px solid;
    margin-left: -1px;
    text-align: center;
    line-height: 32px;
    font-size: 28px;
}

h1.title {
    display: inline-block;
    font-size: 80px;
    font-weight: 900;
    line-height: 80px;
    position: relative;
    padding-bottom: 15px;
}
h1.title::before,
h1.title::after{
    content: '';
    position: absolute;
    height: 6px;
    left: 0;
    bottom: 0;
}
h1.title::before{
    background-color: rgba(173, 177, 11, 1);
    width: 150px;
    z-index: 1;
}
h1.title::after{
    background-color: rgba(60, 60, 59, 1);
    width: 75px;
    z-index: 2;
}
.title-line {
    position: relative;
    padding-bottom: 10px;
}
.title-line::before,
.title-line::after{
    content: '';
    position: absolute;
    height: 4px;
    left: 0;
    bottom: 0;
}
.title-line::before{
    background-color: rgba(173, 177, 11, 1);
    width: 90px;
    z-index: 1;
}
.title-line::after{
    background-color: rgba(60, 60, 59, 1);
    width: 45px;
    z-index: 2;
}
.blue-box{
    background-color: #393949;
    color: #fff;
    padding: 20px;
}
.blue-box hr{
    background-color: #fff;
}
.member_position{
    color: #d3d800;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 400;
}
.member_border {
	border: 1px solid #fff;
}
.clear { clear: both; }
.parsley-error-list { display: none !important; }
.parsley-error { border: 1px solid #ff0000 !important; }
.checkbox_group.parsley-error { border: 0px solid #ff0000 !important; }
.selectparent.parsley-error { border: 0px solid #ff0000 !important; }
.selectparent.parsley-error .sbHolder { border: 1px solid #ff0000 !important; }
.sucses,.success { font-size: 20px !important;color: #5bba53 !important; }
.error { font-size: 20px !important;color: #ff0000 !important;}
.mt100 { margin-top: 100px !important; }
.mt80 { margin-top: 80px !important; }
.mt60 { margin-top: 60px !important; }
.mt50 { margin-top: 50px !important; }
.mt45 { margin-top: 45px !important; }
.mt40 { margin-top: 40px !important; }
.mt35 { margin-top: 35px !important; }
.mt30 { margin-top: 30px !important; }
.mt25 { margin-top: 25px !important; }
.mt20 { margin-top: 20px !important; }
.mt15 { margin-top: 15px !important; }
.mt10 { margin-top: 10px !important; }
.mt5 { margin-top: 5px !important; }
.mt0 { margin-top: 0px !important; }
.mt-50 { margin-top: -50px !important; }
.mt-45 { margin-top: -45px !important; }
.mt-40 { margin-top: -40px !important; }
.mt-35 { margin-top: -35px !important; }
.mt-30 { margin-top: -30px !important; }
.mt-25 { margin-top: -25px !important; }
.mt-20 { margin-top: -20px !important; }
.mt-15 { margin-top: -15px !important; }
.mt-10 { margin-top: -10px !important; }
.mt-5 { margin-top: -5px !important; }
.mr100 { margin-right: 100px !important; }
.mr80 { margin-right: 80px !important; }
.mr60 { margin-right: 60px !important; }
.mr50 { margin-right: 50px !important; }
.mr45 { margin-right: 45px !important; }
.mr40 { margin-right: 40px !important; }
.mr35 { margin-right: 35px !important; }
.mr30 { margin-right: 30px !important; }
.mr25 { margin-right: 25px !important; }
.mr20 { margin-right: 20px !important; }
.mr15 { margin-right: 15px !important; }
.mr10 { margin-right: 10px !important; }
.mr5 { margin-right: 5px !important; }
.mr0 { margin-right: 0px !important; }
.mr-50 { margin-right: -50px !important; }
.mr-45 { margin-right: -45px !important; }
.mr-40 { margin-right: -40px !important; }
.mr-35 { margin-right: -35px !important; }
.mr-30 { margin-right: -30px !important; }
.mr-25 { margin-right: -25px !important; }
.mr-20 { margin-right: -20px !important; }
.mr-15 { margin-right: -15px !important; }
.mr-10 { margin-right: -10px !important; }
.mr-5 { margin-right: -5px !important; }
.mb100 { margin-bottom: 100px !important; }
.mb80 { margin-bottom: 80px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb0 { margin-bottom: 0px !important; }
.mb-50 { margin-bottom: -50px !important; }
.mb-45 { margin-bottom: -45px !important; }
.mb-40 { margin-bottom: -40px !important; }
.mb-35 { margin-bottom: -35px !important; }
.mb-30 { margin-bottom: -30px !important; }
.mb-25 { margin-bottom: -25px !important; }
.mb-20 { margin-bottom: -20px !important; }
.mb-15 { margin-bottom: -15px !important; }
.mb-10 { margin-bottom: -10px !important; }
.mb-5 { margin-bottom: -5px !important; }
.ml100 { margin-left: 100px !important; }
.ml80 { margin-left: 80px !important; }
.ml60 { margin-left: 60px !important; }
.ml50 { margin-left: 50px !important; }
.ml45 { margin-left: 45px !important; }
.ml40 { margin-left: 40px !important; }
.ml35 { margin-left: 35px !important; }
.ml30 { margin-left: 30px !important; }
.ml25 { margin-left: 25px !important; }
.ml20 { margin-left: 20px !important; }
.ml15 { margin-left: 15px !important; }
.ml10 { margin-left: 10px !important; }
.ml5 { margin-left: 5px !important; }
.ml0 { margin-left: 0px !important; }
.ml-50 { margin-left: -50px !important; }
.ml-45 { margin-left: -45px !important; }
.ml-40 { margin-left: -40px !important; }
.ml-35 { margin-left: -35px !important; }
.ml-30 { margin-left: -30px !important; }
.ml-25 { margin-left: -25px !important; }
.ml-20 { margin-left: -20px !important; }
.ml-15 { margin-left: -15px !important; }
.ml-10 { margin-left: -10px !important; }
.ml-5 { margin-left: -5px !important; }
.pt100 { padding-top: 100px !important; }
.pt80 { padding-top: 80px !important; }
.pt60 { padding-top: 60px !important; }
.pt50 { padding-top: 50px !important; }
.pt45 { padding-top: 45px !important; }
.pt40 { padding-top: 40px !important; }
.pt35 { padding-top: 35px !important; }
.pt30 { padding-top: 30px !important; }
.pt25 { padding-top: 25px !important; }
.pt20 { padding-top: 20px !important; }
.pt15 { padding-top: 15px !important; }
.pt10 { padding-top: 10px !important; }
.pt5 { padding-top: 5px !important; }
.pt0 { padding-top: 0px !important; }
.pr100 { padding-right: 100px !important; }
.pr80 { padding-right: 80px !important; }
.pr60 { padding-right: 60px !important; }
.pr50 { padding-right: 50px !important; }
.pr45 { padding-right: 45px !important; }
.pr40 { padding-right: 40px !important; }
.pr35 { padding-right: 35px !important; }
.pr30 { padding-right: 30px !important; }
.pr25 { padding-right: 25px !important; }
.pr20 { padding-right: 20px !important; }
.pr15 { padding-right: 15px !important; }
.pr10 { padding-right: 10px !important; }
.pr5 { padding-right: 5px !important; }
.pr0 { padding-right: 0px !important; }
.pb100 { padding-bottom: 100px !important; }
.pb80 { padding-bottom: 80px !important; }
.pb60 { padding-bottom: 60px !important; }
.pb50 { padding-bottom: 50px !important; }
.pb45 { padding-bottom: 45px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb5 { padding-bottom: 5px !important; }
.pb0 { padding-bottom: 0px !important; }
.pl100 { padding-left: 100px !important; }
.pl80 { padding-left: 80px !important; }
.pl60 { padding-left: 60px !important; }
.pl50 { padding-left: 50px !important; }
.pl45 { padding-left: 45px !important; }
.pl40 { padding-left: 40px !important; }
.pl35 { padding-left: 35px !important; }
.pl30 { padding-left: 30px !important; }
.pl25 { padding-left: 25px !important; }
.pl20 { padding-left: 20px !important; }
.pl15 { padding-left: 15px !important; }
.pl10 { padding-left: 10px !important; }
.pl5 { padding-left: 5px !important; }
.pl0 { padding-left: 0px !important; }
.pd0 { padding: 0px !important; }
.mg0 { margin: 0px !important; }
.pstatic { position: static !important; }
.prelative { position: relative !important; }
.dinblock { display: inline-block !important; }
.dblock { display: block !important; }
.dnone { display: none !important; }
.osy { overflow-y: auto !important; }
.ohx { overflow-x: hidden !important; }
.oh { overflow: hidden !important; }
.fs30 { font-size: 30px !important;line-height: 36px !important; }
.fs28 { font-size: 28px !important;line-height: 34px !important; }
.fs26 { font-size: 26px !important;line-height: 32px !important; }
.fs24 { font-size: 24px !important;line-height: 30px !important; }
.fs22 { font-size: 22px !important;line-height: 28px !important; }
.fs20 { font-size: 20px !important;line-height: 26px !important; }
.fs18 { font-size: 18px !important;line-height: 24px !important; }
.fs16 { font-size: 16px !important;line-height: 22px !important; }
.fs14 { font-size: 14px !important;line-height: 20px !important; }
.fs12 { font-size: 12px !important;line-height: 18px !important; }
.fs0 { font-size: 0px !important; }
.fw100{font-weight: 100 !important;}
.fw200{font-weight: 200 !important;}
.fw300{font-weight: 300 !important;}
.fw400{font-weight: 400 !important;}
.fw500{font-weight: 500 !important;}
.fw600{font-weight: 600 !important;}
.fw700{font-weight: 700 !important;}
.fw800{font-weight: 800 !important;}
.fw900{font-weight: 900 !important;}
.fsital{font-style: italic !important;}
::i-block-chrome, .fs0 { font-size: initial !important; letter-spacing: -0.31em !important;}
::i-block-chrome, .fs0 > *{ letter-spacing: initial !important;}
.fnone { float: none !important; }
.fleft { float: left !important; }
.fright { float: right !important; }
.height100 { height: 100% !important; }
.height50 { height: 50% !important; }
.width100 { width: 100% !important; }
.width50 { width: 50% !important; }
.width25 { width: 25% !important; }
.width20 { width: 20% !important; }
.wauto { width: auto !important; }
.vtop{ vertical-align: top !important; }
.vmiddle{ vertical-align: middle !important; }
.vbottom{ vertical-align: bottom !important; }
.text-uppercase { text-transform: uppercase; }
body .equale-childs { display: table; width: 100%; margin: 0; padding: 0; }
body .equale-childs > div { float: none; display: table-cell; vertical-align: top; }
#yourwebisonline-admin-toggle {  z-index: 999999999999999; }
.listinside li { list-style-position: inside; }
.myimg-responsive { display:block;width:100%;height:auto;}
.nobuton > .flex-direction-nav { display: none; }
.peventnone{ pointer-events: none; }
.zi9 { z-index: 9; }
.zi99 { z-index: 9999; }
.popup_holder { visibility: hidden; height: 0; overflow: hidden; }
.div2colum {
    -webkit-column-count: 2; 
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
}
.pabsolute {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.element {
    display: table;
    height: 100%;
    width: 100%;
}
.element-top {
    display: table-cell;
    vertical-align: top;
}
.element-middle {
    display: table-cell;
    vertical-align: middle;
}
.element-bottom {
    display: table-cell;
    vertical-align: bottom;
}
button {
    outline: 0 none;
}
img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.selectEnable img {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}
.img_grayscale img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.img_grayscale:hover img {
    filter: url("");
    filter: none;
    -webkit-filter: grayscale(000%);
    -moz-filter: grayscale(000%);
}
.bt { border-top: 1px solid #fff !important; }
.br { border-right: 1px solid #fff !important; }
.bb { border-bottom: 1px solid #fff !important; }
.bl { border-left: 1px solid #fff !important; }
.flh{
    line-height: 1.5;
}
.slider.slider-horizontal {
    width: 100%;
}
form input[type="checkbox"],
form input[type="radio"] {
    width: auto;
    margin: 8px 10px 8px 0;
    display: inline-block;
}
.radio-inline label{
    cursor: pointer;
}
.radio-inline label img {
    border: 2px solid transparent;
}
.active label img {
    border: 2px solid #000;
}
select.form-control{
    border-radius: 0;
    height: 48px !important;
}
.collaps_container,
.bottom-part{
    display: block;
}
.collaps_button{
    display: none;    
}